<!-- <h4>{{ title | truncate }}</h4>
<h4>{{ title }}</h4>
<h4>{{ jsonValue | json }}</h4>
<h4>{{ newDate | date: "d:M" }}</h4>
<button (click)="handleEvent()">Click</button>
<input placeholder="hello" [(ngModel)]="title" /> -->

<input type="text" placeholder="user" [(ngModel)] = "userObject.name">
<input type="text" placeholder="user" [(ngModel)] = "userObject.age">
<input type="text" placeholder="user" [(ngModel)] = "userObject.id">

<app-user [user]="userObject" (userEvent)='handleEvent($event)'></app-user>
